<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OleDB" connectionString="OleDB\Beetle\Beetle.mdb"/>
  </connectionStrings>
  <appSettings>    
    <!--OLEDB数据库模型映射地址-->
    <add key="DAL" value="SPF.OleDB.DAL" />
    <!--发送邮件配置项-->
    <add key="SmtpServerName" value="smtp.163.com"/>
    <add key="SmtpServer_LoginName" value="abcabc@163.com"/>
    <add key="SmtpServer_LoginPassword" value="abcabc"/>
    <add key="SmtpServer_FromMail" value="abcabc@163.com"/>
  </appSettings>
</configuration>