@{
    ViewBag.Title = "留言板";
    //Layout = "~/Views/Shared/_ClassLayout.cshtml";
}
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1992446"></script>
<!-- UY END -->