@{
    ViewBag.Title = "分类";
    Layout = "~/Views/Shared/_ClassLayout.cshtml";
}
<div class="Listpage">
    <div class="top46"></div>

    <div id="todayList">
        <ul class="todayList">
            <!--ko foreach:$root.CCList-->
            <li>
                <a data-bind="attr:{href:$data.BCCUrl}">
                    <b></b>
                    <img data-bind="attr:{src:$data.BCCPic}">
                    <div>
                        <h2 data-bind="text:$data.BCCName"></h2>
                        <p data-bind="text:$data.BCCDesc"></p>
                    </div>
                </a>
            </li>
            <!--/ko-->            
        </ul>
    </div>
    <div class="pagination">
        <div class=" disabled "><a>上一页</a></div>
        <div class="allpage">
            <div class="currentpage">1/1</div>
            <select id="dropdown-select" name="select" onchange="dourl('http://wxapi.cn/wxapi.php?ac=listhome10&tid=11439&page='+this.value)">
                <option selected="selected" value=1>第1页</option>
            </select>
        </div>
        <div class=" disabled  "><a>下一页</a></div>
    </div>
</div>
<script>
    function dourl(url){
        location.href= url;
    }
</script>

<div class="copyright">© 2014-2015 甲壳虫装饰版权所有</div> <div style="display:none"></div>

<script src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>

<script type="text/javascript">

    window.Urls = {
        GetCCList: "@Url.Action("GetCCList", "Beetle")"
    };

    var vClassSid = SPF.GetQueryString("sid", document.href);

    var vClassContent = function() {
        var self = this;
        self.Urls = window.Urls;

        self.CCList = ko.observableArray([]);
        self.CCBind = function(data) {
            var temp = {};
            temp.BCCSid = ko.observable(data.BCCSid);
            temp.BCCName = ko.observable(data.BCCName);
            temp.BCCPic = ko.observable(data.BCCPic);
            temp.BCCUrl = ko.observable(data.BCCUrl);
            temp.BCCDesc = ko.observable(data.BCCDesc);
            return temp;
        };

        //获取分类内容
        self.GetCCList = ko.computed(function() {
            self.CCList.removeAll();
            $.getJSON(window.Urls.GetCCList, { sid: encodeURI(vClassSid) }, function(result) {
                if (result.IsSuccess) {
                    $(result.ResultData.CCIList).each(function(index, item) {
                        self.CCList.push(self.CCBind(item));
                    });
                }
            });
        }, this);
    };

    ko.applyBindings(new vClassContent());

</script>


